<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us Page</title>
    <link rel="stylesheet" href="/ml_japh/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./investment.html">Investment</a></li>
        <li><a href="./join.html">Join Us</a></li>
        <li><a href="./login.html">Log In</a></li>
      </ul>
    </nav>
    <h1>Contact Us</h1>
    <p>Have any questions or feedback for us? Fill out the form below and we'll get back to you as soon as possible.</p>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5"></textarea><br><br>
      <input type="submit" value="Send">
    </form>
    <script src="js/contact.js"></script>
  </body>
</html>