<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MLM Savings Club</title>
<!-- CSS stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MLM Savings Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="investment.html">Investment Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact Us</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="login_page.html">Login</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="member_registration.html">Member Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="payment.html">Pay contribution</a>
      </li>
    </ul>
  </div>
</nav>


  <!-- Main content -->
  <div class="container mt-5">
    <h1>Welcome to the MLM Savings Club</h1>
    <p>We are a savings club that helps our members save for their future and invest their money in profitable ventures. Join us today and start saving for a better tomorrow.</p>
  </div>

  <!-- JavaScript scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
